:root {
	--remotion-font: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, 
	'Segoe UI',
	Roboto,
	Helvetica,
	Arial,
	sans-serif,
	'Apple Color Emoji',
	'Segoe UI Emoji';
	--base-size: 48px;
}

.audio-viz {
	display: flex;
	flex-direction: row;
	height: 192px;
	align-items: center;
	justify-content: center;
	gap: 12px;
	margin-top: var(--base-size);
}

.bar {
	background-color:  rgba(252, 211, 77, 1);
	border-radius: 12px;
	width: 12px;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	color: white;
	padding: var(--base-size);
	background-color: black;
	font-family: var(--remotion-font);
}

.row {
	display: flex;
	flex-direction: row;
}

.cover {
	border-radius: 6px;
}

.title {
	margin-left: var(--base-size);
	line-height: 1.25;
	font-weight: 800;
	color: rgba(55, 65, 81, 1);
	font-size: var(--base-size);
}

.captions {
	margin-top: 24px;
	font-size: 72px;
	font-weight: 600;
}

.promo-container {
	width: 100%;
	height: 100%;
	background-color: rgba(55, 65, 81, 1);
	font-family: var(--remotion-font);
}

.promo-composition {
	position: absolute;
	left: 432px;
	top: -240px;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	border-radius: 36px;
	overflow: hidden;
}

.free-template {
	width: 768px;
	left: 36px;
	font-size: 72px;
	line-height: 96px;
	font-weight: 800;
	filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03)) drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));
	left: 36px;
	top: 12px;
	position: absolute;
	color: rgba(107, 114, 128, 1);
}

.description {
	color: rgba(107, 114, 128, 1);
	line-height: 1;
	font-weight: normal;
	font-size: var(--base-size);
	filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03)) drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));
	width: 624px;
	left: 36px;
	top: 120px;
	position: absolute;
}

.tagline {
	font-weight: 800;
	font-size: 108px;
	line-height: 120px;
	color: rgba(251, 191, 36, 1);
	filter: drop-shadow(0 20px 13px rgba(0, 0, 0, 0.03)) drop-shadow(0 8px 5px rgba(0, 0, 0, 0.08));
	width: 768px;
	position: absolute;
	top: 336px;
	left: 36px;
}

.remotion-blue {
	color: #0B84F3;
}
